.Button {
  background: #1db954;
  border-radius: 0.5rem;
  border-style: none;
  padding: 0.5rem 0.8rem;
  cursor: pointer;
  color: white;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
  font-size: 1rem;
  margin-top: auto;
  font-weight: 600;
}

.Button:hover {
  background: #0e963e;
}
