.cardWrapper {
  display: flex;
  padding: 1.5rem 0;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}
.card__detailWrapper {
  display: flex;
  flex: 3;
  gap: 0.5rem;
}
.card__image {
  border-radius: 0.3rem;
  object-fit: contain;
  max-height: 80px;
}

.card__artist {
  color: rgb(196, 196, 196);
}

.card__album {
  color: #b3b3b3;
  flex: 2;
}

.card__button {
  flex: 1;
  display: flex;
  justify-content: center;
}
.selected {
  background: #7e7e7e;
}
.selected:hover {
  background: #979797;
}
