.Card {
  font-weight: 500;
  background: #444444;
  padding: 0.5rem;
  border-radius: 0.3rem;
  transition: all 0.25s ease-in-out;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  height: fit-content;
}

.Card:hover {
  background: #4e4e4e;
  transform: scale(1.005);
}

.Card p {
  margin: 0.3rem 0;
}

.Card h3 {
  margin: 0.5rem 0;
}
