.form {
  background: #282828;
  padding: 1.2rem 0;
  border-radius: 8px;
}
.form > form > div {
  margin: 0 auto 1rem;
}

.form__error {
  color: rgb(255, 58, 58);
  font-weight: 600;
  text-align: left;
  margin-left: 3.5rem;
}
.form input,
.form textarea {
  font-family: "Poppins", sans-serif;
  color: white;
  background: #ffffff1a;
  border: none;
  margin: 0 auto;
  display: block;
  padding: 0.5rem 0.75rem;
  resize: none;
  border-radius: 0.5rem;
  outline: none;
  border: 1px #ffffff00 solid;
  width: 100%;
  max-width: 250px;
}

.form input:focus,
.form textarea:focus {
  border: 1px #a3a3a3 solid;
}

.form label {
  text-align: left;
}
