.form {
  background: #282828;
  padding: 1.2rem 0;
  border-radius: 8px;
  max-width: 30rem;
  margin: auto;
}

.btn__invalid {
  cursor: not-allowed;
  background: #7e7e7e;
}

.btn__invalid:hover {
  background: #7e7e7e;
}
