.formBar {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 100%;
  max-width: fit-content;
  margin-bottom: 1rem;
  margin-top: 2rem;
}
.inputBar {
  border-radius: 0.5rem 0 0 0.5rem;
  min-width: 200px;
  padding: 0.5rem 0.8rem;
  border: none;
  font-size: 1rem;
  outline: none;
}

.buttonBar {
  border-radius: 0 0.5rem 0.5rem 0;
}
